<%- include("partials/header") %>

<form action="/addgame" method="POST">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter name" name="title">
    <label>Creator</label>
    <input type="text" class="form-control" placeholder="Enter creator" name="creator">
    <label>Size</label>
    <input type="text" class="form-control" placeholder="480" name="height">
    <input type="text" class="form-control" placeholder="680" name="width">
    <label>File Name</label>
    <input type="text" class="form-control" placeholder="booger.swf" name="fileName">
    <label>Thumbnail name</label>
    <input type="text" class="form-control" placeholder="thumbnail.png" name="thumbnailFile">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer") %>