<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>
	<div class="container">
		<img height="600px" src="http://localhost:3001/images/1589167675.png" alt="">
	</div>
</body>
</html>